/* notify error validate -optech1 */
.has-error{
	color: #bd0103;
}
/* alert notify add/edit/change data module - otMain */
.myadmin-alert{
	padding: 15px 20px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 99;
}
#boxNotify{
	display: none;
	padding: 15px 20px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 99;
}
/* END alert notify add/edit/change data module - otMain */